In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
# Read in CSV files
csv_path_1 = Path('Resources\healthcare-dataset-stroke-data.csv')
Health_Care = pd.read_csv(csv_path_1)

csv_path_2 = Path('Resources\Stroke Prediction.csv')
Stroke_Prediction = pd.read_csv(csv_path_2)

csv_path_3 = Path('Resources\stroke_prediction_dataset.csv')
Stroke_Prediction_2 = pd.read_csv(csv_path_3)

In [3]:
# Combine Stroke DataSets 1 & 2 into a single DataFrame
combined_stroke_data = pd.merge(Stroke_Prediction, Stroke_Prediction_2, how='outer', on='Patient ID')

In [4]:
# Display the Preview of the DataFrame

combined_stroke_data.head()

,Patient ID,Patient Name_x,Age_x,Gender_x,Hypertension_x,Heart Disease_x,Marital Status_x,Work Type_x,Residence Type_x,Average Glucose Level_x,...,Alcohol Intake_y,Physical Activity_y,Stroke History_y,Family History of Stroke_y,Dietary Habits_y,Stress Levels_y,Blood Pressure Levels_y,Cholesterol Levels_y,Symptoms_y,Diagnosis_y
0,18153,Mamooty Khurana,56,Male,0,1,Married,Self-employed,Rural,130.91,...,Social Drinker,Moderate,0,Yes,Vegan,3.48,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke
1,62749,Kaira Subramaniam,80,Male,0,0,Single,Self-employed,Urban,183.73,...,Never,Low,0,No,Paleo,1.73,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke
2,32145,Dhanush Balan,26,Male,1,1,Married,Never Worked,Rural,189.00,...,Rarely,High,0,Yes,Paleo,7.31,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke
3,6154,Ivana Baral,73,Male,0,0,Married,Never Worked,Urban,185.29,...,Frequent Drinker,Moderate,0,No,Paleo,5.35,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke
4,48973,Darshit Jayaraman,51,Male,1,1,Divorced,Self-employed,Urban,177.34,...,Rarely,Low,0,Yes,Pescatarian,6.84,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke

In [5]:
# Print info on Health_Care
Health_Care.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [6]:
# Print info on Stroke_Prediction
Stroke_Prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient ID                15000 non-null  int64
 1   Patient Name              15000 non-null  object
 2   Age                       15000 non-null  int64
 3   Gender                    15000 non-null  object
 4   Hypertension              15000 non-null  int64
 5   Heart Disease             15000 non-null  int64
 6   Marital Status            15000 non-null  object
 7   Work Type                 15000 non-null  object
 8   Residence Type            15000 non-null  object
 9   Average Glucose Level     15000 non-null  float64
 10  Body Mass Index (BMI)     15000 non-null  float64
 11  Smoking Status            15000 non-null  object
 12  Alcohol Intake            15000 non-null  object
 13  Physical Activity         15000 non-null  object
 14  Stroke History            15000 non-null  int64
 15  Family History of Stroke  15000 non-null  object
 16  Dietary Habits            15000 non-null  object
 17  Stress Levels             15000 non-null  float64
 18  Blood Pressure Levels     15000 non-null  object
 19  Cholesterol Levels        15000 non-null  object
 20  Symptoms                  12500 non-null  object
 21  Diagnosis                 15000 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 2.5+ MB

In [7]:
# Print info on Stroke_Prediction_2
Stroke_Prediction_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient ID                15000 non-null  int64
 1   Patient Name              15000 non-null  object
 2   Age                       15000 non-null  int64
 3   Gender                    15000 non-null  object
 4   Hypertension              15000 non-null  int64
 5   Heart Disease             15000 non-null  int64
 6   Marital Status            15000 non-null  object
 7   Work Type                 15000 non-null  object
 8   Residence Type            15000 non-null  object
 9   Average Glucose Level     15000 non-null  float64
 10  Body Mass Index (BMI)     15000 non-null  float64
 11  Smoking Status            15000 non-null  object
 12  Alcohol Intake            15000 non-null  object
 13  Physical Activity         15000 non-null  object
 14  Stroke History            15000 non-null  int64
 15  Family History of Stroke  15000 non-null  object
 16  Dietary Habits            15000 non-null  object
 17  Stress Levels             15000 non-null  float64
 18  Blood Pressure Levels     15000 non-null  object
 19  Cholesterol Levels        15000 non-null  object
 20  Symptoms                  12500 non-null  object
 21  Diagnosis                 15000 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 2.5+ MB

In [8]:
# Create a Clean DataFrame by dropping the NaN values (For Stroke Data)

combined_stroke_data = combined_stroke_data.dropna()
combined_stroke_data.head()

,Patient ID,Patient Name_x,Age_x,Gender_x,Hypertension_x,Heart Disease_x,Marital Status_x,Work Type_x,Residence Type_x,Average Glucose Level_x,...,Alcohol Intake_y,Physical Activity_y,Stroke History_y,Family History of Stroke_y,Dietary Habits_y,Stress Levels_y,Blood Pressure Levels_y,Cholesterol Levels_y,Symptoms_y,Diagnosis_y
0,18153,Mamooty Khurana,56,Male,0,1,Married,Self-employed,Rural,130.91,...,Social Drinker,Moderate,0,Yes,Vegan,3.48,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke
1,62749,Kaira Subramaniam,80,Male,0,0,Single,Self-employed,Urban,183.73,...,Never,Low,0,No,Paleo,1.73,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke
2,32145,Dhanush Balan,26,Male,1,1,Married,Never Worked,Rural,189.00,...,Rarely,High,0,Yes,Paleo,7.31,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke
3,6154,Ivana Baral,73,Male,0,0,Married,Never Worked,Urban,185.29,...,Frequent Drinker,Moderate,0,No,Paleo,5.35,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke
4,48973,Darshit Jayaraman,51,Male,1,1,Divorced,Self-employed,Urban,177.34,...,Rarely,Low,0,Yes,Pescatarian,6.84,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke

In [25]:
# Find total number of people with BMI in underweight range (combined_stroke_data)
underweight_bmi = combined_stroke_data[(combined_stroke_data['Body Mass Index (BMI)_x'] < 18.5)]
underweight_bmi.count()

#Find total number of people with BMI in underweight range who had a stroke (combined_stroke_data)


#Find total number of people with BMI in underweight range who did not have a stroke (combined_stroke_data)

Patient ID                    1715
Patient Name_x                1715
Age_x                         1715
Gender_x                      1715
Hypertension_x                1715
Heart Disease_x               1715
Marital Status_x              1715
Work Type_x                   1715
Residence Type_x              1715
Average Glucose Level_x       1715
Body Mass Index (BMI)_x       1715
Smoking Status_x              1715
Alcohol Intake_x              1715
Physical Activity_x           1715
Stroke History_x              1715
Family History of Stroke_x    1715
Dietary Habits_x              1715
Stress Levels_x               1715
Blood Pressure Levels_x       1715
Cholesterol Levels_x          1715
Symptoms_x                    1715
Diagnosis_x                   1715
Patient Name_y                1715
Age_y                         1715
Gender_y                      1715
Hypertension_y                1715
Heart Disease_y               1715
Marital Status_y              1715
Work Type_y                   1715
Residence Type_y              1715
Average Glucose Level_y       1715
Body Mass Index (BMI)_y       1715
Smoking Status_y              1715
Alcohol Intake_y              1715
Physical Activity_y           1715
Stroke History_y              1715
Family History of Stroke_y    1715
Dietary Habits_y              1715
Stress Levels_y               1715
Blood Pressure Levels_y       1715
Cholesterol Levels_y          1715
Symptoms_y                    1715
Diagnosis_y                   1715
dtype: int64

In [10]:
# Find total number of people with BMI in healthy range (combined_stroke_data)
healthy_bmi = combined_stroke_data[(combined_stroke_data['Body Mass Index (BMI)_x'] > 18.4) & (combined_stroke_data['Body Mass Index (BMI)_x']< 25.0)]
healthy_bmi.count()

#Find total number of people with BMI in healthy range who had a stroke (combined_stroke_data)

#Find total number of people with BMI in healthy range who did not have a stroke (combined_stroke_data)

Patient ID                    3359
Patient Name_x                3359
Age_x                         3359
Gender_x                      3359
Hypertension_x                3359
Heart Disease_x               3359
Marital Status_x              3359
Work Type_x                   3359
Residence Type_x              3359
Average Glucose Level_x       3359
Body Mass Index (BMI)_x       3359
Smoking Status_x              3359
Alcohol Intake_x              3359
Physical Activity_x           3359
Stroke History_x              3359
Family History of Stroke_x    3359
Dietary Habits_x              3359
Stress Levels_x               3359
Blood Pressure Levels_x       3359
Cholesterol Levels_x          3359
Symptoms_x                    3359
Diagnosis_x                   3359
Patient Name_y                3359
Age_y                         3359
Gender_y                      3359
Hypertension_y                3359
Heart Disease_y               3359
Marital Status_y              3359
Work Type_y                   3359
Residence Type_y              3359
Average Glucose Level_y       3359
Body Mass Index (BMI)_y       3359
Smoking Status_y              3359
Alcohol Intake_y              3359
Physical Activity_y           3359
Stroke History_y              3359
Family History of Stroke_y    3359
Dietary Habits_y              3359
Stress Levels_y               3359
Blood Pressure Levels_y       3359
Cholesterol Levels_y          3359
Symptoms_y                    3359
Diagnosis_y                   3359
dtype: int64

In [11]:
# Find total number of people with BMI in overweight range (combined_stroke_data)
overweight_bmi = combined_stroke_data[(combined_stroke_data['Body Mass Index (BMI)_x'] > 24.9) & (combined_stroke_data['Body Mass Index (BMI)_x'] < 30.0)]
overweight_bmi.count()

#Find total number of people with BMI in overweight range who had a stroke (combined_stroke_data)

#Find total number of people with BMI in overweight range who did not have a stroke (combined_stroke_data)

Patient ID                    2488
Patient Name_x                2488
Age_x                         2488
Gender_x                      2488
Hypertension_x                2488
Heart Disease_x               2488
Marital Status_x              2488
Work Type_x                   2488
Residence Type_x              2488
Average Glucose Level_x       2488
Body Mass Index (BMI)_x       2488
Smoking Status_x              2488
Alcohol Intake_x              2488
Physical Activity_x           2488
Stroke History_x              2488
Family History of Stroke_x    2488
Dietary Habits_x              2488
Stress Levels_x               2488
Blood Pressure Levels_x       2488
Cholesterol Levels_x          2488
Symptoms_x                    2488
Diagnosis_x                   2488
Patient Name_y                2488
Age_y                         2488
Gender_y                      2488
Hypertension_y                2488
Heart Disease_y               2488
Marital Status_y              2488
Work Type_y                   2488
Residence Type_y              2488
Average Glucose Level_y       2488
Body Mass Index (BMI)_y       2488
Smoking Status_y              2488
Alcohol Intake_y              2488
Physical Activity_y           2488
Stroke History_y              2488
Family History of Stroke_y    2488
Dietary Habits_y              2488
Stress Levels_y               2488
Blood Pressure Levels_y       2488
Cholesterol Levels_y          2488
Symptoms_y                    2488
Diagnosis_y                   2488
dtype: int64

In [12]:
# Find total number of people with BMI in obese class 1 range (combined_stroke_data)

obese_class_1_bmi = combined_stroke_data[(combined_stroke_data['Body Mass Index (BMI)_x'] > 29.9) & (combined_stroke_data['Body Mass Index (BMI)_x'] > 35.0)]
obese_class_1_bmi.count()

#Find total number of people with BMI in obese class 1 range who had a stroke (combined_stroke_data)

#Find total number of people with BMI in obese class 1 range who did not have a stroke (combined_stroke_data)

Patient ID                    2522
Patient Name_x                2522
Age_x                         2522
Gender_x                      2522
Hypertension_x                2522
Heart Disease_x               2522
Marital Status_x              2522
Work Type_x                   2522
Residence Type_x              2522
Average Glucose Level_x       2522
Body Mass Index (BMI)_x       2522
Smoking Status_x              2522
Alcohol Intake_x              2522
Physical Activity_x           2522
Stroke History_x              2522
Family History of Stroke_x    2522
Dietary Habits_x              2522
Stress Levels_x               2522
Blood Pressure Levels_x       2522
Cholesterol Levels_x          2522
Symptoms_x                    2522
Diagnosis_x                   2522
Patient Name_y                2522
Age_y                         2522
Gender_y                      2522
Hypertension_y                2522
Heart Disease_y               2522
Marital Status_y              2522
Work Type_y                   2522
Residence Type_y              2522
Average Glucose Level_y       2522
Body Mass Index (BMI)_y       2522
Smoking Status_y              2522
Alcohol Intake_y              2522
Physical Activity_y           2522
Stroke History_y              2522
Family History of Stroke_y    2522
Dietary Habits_y              2522
Stress Levels_y               2522
Blood Pressure Levels_y       2522
Cholesterol Levels_y          2522
Symptoms_y                    2522
Diagnosis_y                   2522
dtype: int64

In [13]:
# Find total number of people with BMI in obese class 2 range (combined_stroke_data)
obese_class_2 = combined_stroke_data[(combined_stroke_data['Body Mass Index (BMI)_x'] > 34.9) & (combined_stroke_data['Body Mass Index (BMI)_x'] < 40.0)]
obese_class_2.count()

#Find total number of people with BMI in obese class 2 range who had a stroke (combined_stroke_data)

#Find total number of people with BMI in obese class 2 range who did not have a stroke (combined_stroke_data)

Patient ID                    2565
Patient Name_x                2565
Age_x                         2565
Gender_x                      2565
Hypertension_x                2565
Heart Disease_x               2565
Marital Status_x              2565
Work Type_x                   2565
Residence Type_x              2565
Average Glucose Level_x       2565
Body Mass Index (BMI)_x       2565
Smoking Status_x              2565
Alcohol Intake_x              2565
Physical Activity_x           2565
Stroke History_x              2565
Family History of Stroke_x    2565
Dietary Habits_x              2565
Stress Levels_x               2565
Blood Pressure Levels_x       2565
Cholesterol Levels_x          2565
Symptoms_x                    2565
Diagnosis_x                   2565
Patient Name_y                2565
Age_y                         2565
Gender_y                      2565
Hypertension_y                2565
Heart Disease_y               2565
Marital Status_y              2565
Work Type_y                   2565
Residence Type_y              2565
Average Glucose Level_y       2565
Body Mass Index (BMI)_y       2565
Smoking Status_y              2565
Alcohol Intake_y              2565
Physical Activity_y           2565
Stroke History_y              2565
Family History of Stroke_y    2565
Dietary Habits_y              2565
Stress Levels_y               2565
Blood Pressure Levels_y       2565
Cholesterol Levels_y          2565
Symptoms_y                    2565
Diagnosis_y                   2565
dtype: int64

In [14]:
# Find total number of people with BMI in obese class 3 range (combined_stroke_data)
obese_class_3 = combined_stroke_data[(combined_stroke_data['Body Mass Index (BMI)_x'] >= 70)].count()
obese_class_3.count()

#Find total number of people with BMI in obese class 3 range who had a stroke (combined_stroke_data)

#Find total number of people with BMI in obese class 3 range who did not have a stroke (combined_stroke_data)

43

In [15]:
# Find total number of people in the 50-59 age range (combined_stroke_data)
fifty_somethings = combined_stroke_data[(combined_stroke_data["Age_x"] > 49) & (combined_stroke_data["Age_x"] < 60)]
fifty_somethings.count()

Patient ID                    1725
Patient Name_x                1725
Age_x                         1725
Gender_x                      1725
Hypertension_x                1725
Heart Disease_x               1725
Marital Status_x              1725
Work Type_x                   1725
Residence Type_x              1725
Average Glucose Level_x       1725
Body Mass Index (BMI)_x       1725
Smoking Status_x              1725
Alcohol Intake_x              1725
Physical Activity_x           1725
Stroke History_x              1725
Family History of Stroke_x    1725
Dietary Habits_x              1725
Stress Levels_x               1725
Blood Pressure Levels_x       1725
Cholesterol Levels_x          1725
Symptoms_x                    1725
Diagnosis_x                   1725
Patient Name_y                1725
Age_y                         1725
Gender_y                      1725
Hypertension_y                1725
Heart Disease_y               1725
Marital Status_y              1725
Work Type_y                   1725
Residence Type_y              1725
Average Glucose Level_y       1725
Body Mass Index (BMI)_y       1725
Smoking Status_y              1725
Alcohol Intake_y              1725
Physical Activity_y           1725
Stroke History_y              1725
Family History of Stroke_y    1725
Dietary Habits_y              1725
Stress Levels_y               1725
Blood Pressure Levels_y       1725
Cholesterol Levels_y          1725
Symptoms_y                    1725
Diagnosis_y                   1725
dtype: int64

In [16]:
# Find total number of people in the 60-69 age range (combined_stroke_data)
sixty_somethings = combined_stroke_data[(combined_stroke_data['Age_x'] > 59) & (combined_stroke_data['Age_x'] < 70)]
sixty_somethings.count()

Patient ID                    1752
Patient Name_x                1752
Age_x                         1752
Gender_x                      1752
Hypertension_x                1752
Heart Disease_x               1752
Marital Status_x              1752
Work Type_x                   1752
Residence Type_x              1752
Average Glucose Level_x       1752
Body Mass Index (BMI)_x       1752
Smoking Status_x              1752
Alcohol Intake_x              1752
Physical Activity_x           1752
Stroke History_x              1752
Family History of Stroke_x    1752
Dietary Habits_x              1752
Stress Levels_x               1752
Blood Pressure Levels_x       1752
Cholesterol Levels_x          1752
Symptoms_x                    1752
Diagnosis_x                   1752
Patient Name_y                1752
Age_y                         1752
Gender_y                      1752
Hypertension_y                1752
Heart Disease_y               1752
Marital Status_y              1752
Work Type_y                   1752
Residence Type_y              1752
Average Glucose Level_y       1752
Body Mass Index (BMI)_y       1752
Smoking Status_y              1752
Alcohol Intake_y              1752
Physical Activity_y           1752
Stroke History_y              1752
Family History of Stroke_y    1752
Dietary Habits_y              1752
Stress Levels_y               1752
Blood Pressure Levels_y       1752
Cholesterol Levels_y          1752
Symptoms_y                    1752
Diagnosis_y                   1752
dtype: int64

In [17]:
# Find total number of people in the 70-79 age range (combined_stroke_data)
seventy_somethings = combined_stroke_data[(combined_stroke_data['Age_x'] > 69) & (combined_stroke_data['Age_x'] < 80)]
seventy_somethings.count()

Patient ID                    1725
Patient Name_x                1725
Age_x                         1725
Gender_x                      1725
Hypertension_x                1725
Heart Disease_x               1725
Marital Status_x              1725
Work Type_x                   1725
Residence Type_x              1725
Average Glucose Level_x       1725
Body Mass Index (BMI)_x       1725
Smoking Status_x              1725
Alcohol Intake_x              1725
Physical Activity_x           1725
Stroke History_x              1725
Family History of Stroke_x    1725
Dietary Habits_x              1725
Stress Levels_x               1725
Blood Pressure Levels_x       1725
Cholesterol Levels_x          1725
Symptoms_x                    1725
Diagnosis_x                   1725
Patient Name_y                1725
Age_y                         1725
Gender_y                      1725
Hypertension_y                1725
Heart Disease_y               1725
Marital Status_y              1725
Work Type_y                   1725
Residence Type_y              1725
Average Glucose Level_y       1725
Body Mass Index (BMI)_y       1725
Smoking Status_y              1725
Alcohol Intake_y              1725
Physical Activity_y           1725
Stroke History_y              1725
Family History of Stroke_y    1725
Dietary Habits_y              1725
Stress Levels_y               1725
Blood Pressure Levels_y       1725
Cholesterol Levels_y          1725
Symptoms_y                    1725
Diagnosis_y                   1725
dtype: int64

In [18]:
# Find total number of people in the 80 and over age range (combined_stroke_data)
eighty_and_overs = combined_stroke_data[(combined_stroke_data['Age_x'] > 79)]
eighty_and_overs.count()

Patient ID                    1829
Patient Name_x                1829
Age_x                         1829
Gender_x                      1829
Hypertension_x                1829
Heart Disease_x               1829
Marital Status_x              1829
Work Type_x                   1829
Residence Type_x              1829
Average Glucose Level_x       1829
Body Mass Index (BMI)_x       1829
Smoking Status_x              1829
Alcohol Intake_x              1829
Physical Activity_x           1829
Stroke History_x              1829
Family History of Stroke_x    1829
Dietary Habits_x              1829
Stress Levels_x               1829
Blood Pressure Levels_x       1829
Cholesterol Levels_x          1829
Symptoms_x                    1829
Diagnosis_x                   1829
Patient Name_y                1829
Age_y                         1829
Gender_y                      1829
Hypertension_y                1829
Heart Disease_y               1829
Marital Status_y              1829
Work Type_y                   1829
Residence Type_y              1829
Average Glucose Level_y       1829
Body Mass Index (BMI)_y       1829
Smoking Status_y              1829
Alcohol Intake_y              1829
Physical Activity_y           1829
Stroke History_y              1829
Family History of Stroke_y    1829
Dietary Habits_y              1829
Stress Levels_y               1829
Blood Pressure Levels_y       1829
Cholesterol Levels_y          1829
Symptoms_y                    1829
Diagnosis_y                   1829
dtype: int64

In [19]:
# Find total number of people in the low glucose range (Health Care)
low_glucose = Health_Care[(Health_Care['avg_glucose_level'] < 70)]
low_glucose.count()

id                   754
gender               754
age                  754
hypertension         754
heart_disease        754
ever_married         754
work_type            754
Residence_type       754
avg_glucose_level    754
bmi                  738
smoking_status       754
stroke               754
dtype: int64

In [20]:
# Find total number of people in the normal glucose range (combined_stroke_data)
normal_glucose = Health_Care[(Health_Care['avg_glucose_level'] >= 70) & (Health_Care['avg_glucose_level'] <= 99)]
normal_glucose.count()

id                   2317
gender               2317
age                  2317
hypertension         2317
heart_disease        2317
ever_married         2317
work_type            2317
Residence_type       2317
avg_glucose_level    2317
bmi                  2234
smoking_status       2317
stroke               2317
dtype: int64

In [21]:
# Find total number of people in the pre-diabetic glucose range (combined_stroke_data)
pre_diabetic_glucose = Health_Care[(Health_Care['avg_glucose_level'] >= 100) & (Health_Care['avg_glucose_level'] < 126)]
pre_diabetic_glucose.count()

id                   998
gender               998
age                  998
hypertension         998
heart_disease        998
ever_married         998
work_type            998
Residence_type       998
avg_glucose_level    998
bmi                  964
smoking_status       998
stroke               998
dtype: int64

In [22]:
# Find total number of people in the diabetic glucose range (combined_stroke_data)
pre_diabetic_glucose = Health_Care[(Health_Care['avg_glucose_level'] >= 126)]
pre_diabetic_glucose.count()

id                   981
gender               981
age                  981
hypertension         981
heart_disease        981
ever_married         981
work_type            981
Residence_type       981
avg_glucose_level    981
bmi                  915
smoking_status       981
stroke               981
dtype: int64